* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: lightgray;
}

h2 {
  font-size: 1.2rem;
}
main>div {
  margin: 10px 5px;
}

div#results-box, .seccio {
  background-color: white;  
  padding: 3px;
}

div#results {
  border: 1px solid black;
  min-height: 50px;
  max-width: 500px;
  margin: 5px;
  padding: 3px;
}

div.seccio {
  margin-right: 5px;
  border: 1px solid grey;
  padding: 5px;
}